/*-- scss:defaults --*/

$toc-font-size: 1.2em;

$body-bg: #f8f9fa; /* A light gray for a clean and neutral background */
$body-color: #212529; /* A dark gray for good readability */
$link-color: #ffa600; /* A blue color for links, commonly used for accessibility */
$input-bg: #fbf6f6; /* White background for inputs to ensure clarity */
$popover-bg: #fdfdfe; /* A very light gray for subtle popovers */