/* Footer */

.footer {
  padding: 20px;
  font-size: 0.9rem;
  color: #6c757d;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  text-decoration: none;
  color: #007bff;
}

.footer-links a:hover {
  text-decoration: underline;
}

.quarto-listing-category {
  font-size: 0.1em; /* Makes the text smaller for default categories */
}






/* Navbar adjustments */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Add padding around the navbar */
  font-size: 1.15rem; /* Adjust text size */
}

.navbar-logo {
  border-radius: 50%; /* Crop the logo into a circle */
  object-fit: cover; /* Ensure the image scales properly within the circle */
  display: block; /* Prevent inline elements from affecting dimensions */
  max-height: 50px;
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
  margin-left: 5px;
}

.navbar-logo:hover {
  transform: scale(1.05); /* Pop-up effect on hover */
}



/* Try to make this only apply to the navbar tools and not all dropdowns from the navbar */
.quarto-navbar-tools .dropdown-menu {
  right: 0 !important;
  left: auto !important;
}